:root {
  --primary-color: #007cc3;
  --secondary-color: #00a4e3;
  --font-color1: #fff;
  --card-background: #f3f6f9;
  --font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#nav-section {
  background-color: var(--primary-color);
}

.nav-box {
  justify-content: space-around;
}

.store-logo {
  width: 200px;
  margin-left: 320px;
}

.hero-img-d {
  justify-content: flex-end;
  width: 1280px;
  height: 380px;
  margin-right: 0;
  margin-left: 200px;
}
.hero-img-m {
  display: none;
}
.hero-box {
  margin-left: 600px;
}
.hero-h1 {
  line-height: 90%;
  font-size: 32px;
  margin-left: 100px;
  color: var(--primary-color);
  margin-bottom: 0;
}

.hero-p {
  margin-left: 100px;
  color: var(--primary-color);
}

.hero-p2 {
  color: var(--font-color1);
  margin-right: 50px;
  margin-top: 20px;
}

.hero-tel {
  color: var(--font-color1);
  font-size: 40px;
  font-weight: 700;
  margin-top: 15px;
}
#offer-box {
  margin-top: -5px;
  padding-bottom: 20px;
  background-color: var(--primary-color);
}

.card-img {
  width: 300px;
}

.offer-card {
  width: 400px;
  margin-left: 20px;
  text-align: center;
}

.offer-card-h {
  color: var(--secondary-color);
  margin-bottom: 0;
}

.offer-button-2 {
  width: 180px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 50px;
  background-color: var(--primary-color);
  color: var(--font-color1);
  border: none;
}

#footer-section {
  background-color: var(--primary-color);
}

.kbb-logo-d {
  width: 200px;
}

.contact-us-h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--font-color1);
  margin-bottom: 20px;
  margin-left: -50px;
}

.offer-section-h {
  font-size: 50px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.offer-button {
  width: 180px;
  height: 40px;
  font-size: 18px;
  font-weight: 600px;
  background-color: #fff;
  border: none;
  color: var(--secondary-color);
}
.footer-text-box {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.footer-p1 {
  font-weight: 700;
  color: var(--font-color1);
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
.footer-p2 {
  color: var(--font-color1);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 50px;
  font-size: 20px;
}

.offer-box-h1 {
  color: var(--font-color1);
  margin-bottom: 0;
}
.contact-p {
  font-size: 20px;
  color: var(--font-color1);
  margin-left: -45px;
  margin-bottom: 0;
  margin-top: 0;
}
.offer-box-p {
  color: var(--font-color1);
  margin-bottom: 20px;
  margin-top: 0;
}

.ico-adaptive {
  max-width: 100%;
  height: auto;
}

.ico-mobile {
  display: none;
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .hero-img-d {
    max-width: 1160px;
  }
  .hero-h1 {
    font-size: 35px;
    width: 400px;
    margin-left: 0px;
  }
  .hero-box {
    margin-left: 0px;
  }

  .hero-p {
    margin-left: 0px;
  }

  .hero-box {
    margin-left: 160px;
  }

  .store-logo {
    margin-left: -180px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .hero-img-d {
    max-width: 920px;
    margin-left: 0px;
  }
  .hero-h1 {
    font-size: 28px;
    width: 400px;
    margin-left: 0px;
  }
  .hero-box {
    margin-left: 0px;
  }

  .hero-p {
    margin-left: 0px;
  }

  .hero-box {
    margin-left: 120px;
  }
  .store-logo {
    margin-left: -90px;
  }
}

@media only screen and (min-width: 1076px) and (max-width: 1280px) {
  .hero-img-d {
    width: 900px;
    margin-left: 10px;
  }
  .hero-box {
    margin-left: 0;
  }
  .hero-h1 {
    font-size: 24px;
    line-height: 100%;
  }

  .store-logo {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .hero-img-d {
    display: none;
  }
  .kbb-logo-d {
    display: none;
  }
  .hero-img-m {
    display: block;
    width: 100vw;
  }
  .hero-box-m {
    flex-direction: column;
    width: 100vw;
  }
  .store-logo {
    width: 150px;
    margin-top: 20px;
    margin-left: -170px;
  }

  .offer-card {
    width: 280px;
  }

  .hero-box {
    margin-left: -95px;
  }
  .hero-p {
    font-size: 12px;
    margin-left: 5px;
  }
  .hero-p2 {
    margin-left: -105px;
  }

  .hero-tel {
    margin-top: 0;
    margin-left: -105px;
    font-size: 20px;
  }

  .hero-h1 {
    margin-left: 5px;
    font-size: 18px;
  }

  .card-box {
    flex-direction: column;
  }

  .card-img {
    width: 180px;
  }
  .offer-button {
    width: 160px;
    font-size: 17px;
    font-weight: 600;
  }

  .offer-box-h1 {
    font-size: 22px;
    max-width: 225px;
    text-align: center;
  }
  .offer-section-h {
    font-size: 28px;
  }

  #offer-box {
    margin-top: 0;
  }
  #offer-section {
    flex-direction: column;
  }
  .offer-card {
    margin-left: 0;
  }
  .nav-box {
    flex-direction: column;
  }

  .nav-box-2 {
    flex-direction: column;
  }
  .ico-desktop {
    display: none;
  }

  .ico-mobile {
    display: block;
  }

  .contact-us-h2 {
    font-size: 22px;
    margin-left: 10px;
  }
  .footer-box {
    flex-direction: column;
  }
  .footer-p2 {
    margin-left: 0;
  }
  .contact-p {
    font-size: 18px;
    margin-left: 10px;
  }
}
