:root {
  --primary-color: #007cc3;
  --secondary-color: #00a4e3;
  --font-color1: #fff;
  --card-background: #f3f6f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Removes DI's Custom padding */
.contentcontainer#di-page-composer {
  padding-top: 0px;
}

a:hover {
  cursor: pointer;
}
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#nav-section {
  background-color: var(--primary-color);
}

.hero-img {
  justify-content: flex-end;
  width: 1280px;
  height: 380px;
  margin-right: 0;
  margin-left: 200px;
}

.hero-box {
  margin-left: 600px;
}
.hero-h1 {
  font-size: 35px;
  margin-left: 100px;
}

.hero-p {
  margin-left: 100px;
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .hero-img {
    margin-left: 80px;
  }
  .hero-h1 {
    font-size: 35px;
    width: 400px;
    margin-left: 0px;
  }
  .hero-box {
    margin-left: 0px;
  }

  .hero-p {
    margin-left: 0px;
  }

  .hero-box {
    margin-left: 160px;
  }
}
