:root {
  --primary-color: #007cc3;
  --secondary-color: #00a4e3;
  --font-color1: #fff;
  --card-background: #f3f6f9;
  --font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:visited {
  text-decoration: none;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#nav-section {
  background-color: var(--primary-color);
}

.nav-box {
  justify-content: space-around;
}

.store-logo {
  width: 200px;

  margin-left: 100px;
}

.hero-img-d {
  justify-content: flex-end;
  width: 1280px;
  height: 380px;
  margin-right: 0;
  margin-left: 200px;
}
.hero-img-m {
  display: none;
}
.hero-box {
  margin-left: -500px;
}
.hero-h1 {
  line-height: 90%;
  font-size: 32px;
  margin-top: 100px;
  margin-left: -500px;
  color: var(--primary-color);
  margin-bottom: 0;
}

.hero-section {
  background-image: url(Hero-D.png);
  width: 100vw;
  height: 34em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-section-m {
  display: none;
}
.hero-p {
  margin-left: -500px;
  color: var(--primary-color);
}

.hero-p2 {
  color: var(--font-color1);
  margin-right: 50px;
  margin-top: 20px;
}

.hero-tel {
  color: var(--font-color1);
  font-size: 40px;
  font-weight: 700;
  margin-top: 15px;
}
#offer-box {
  margin-top: -5px;
  padding-bottom: 20px;
  background-color: var(--primary-color);
}

.card-img {
  width: 320px;
}

.offer-card {
  width: 400px;
  margin-left: 75px;
  margin-right: 75px;
  text-align: center;
}

.offer-card-h {
  font-size: 22px;
  color: var(--secondary-color);
  margin-bottom: 0;
}

.offer-button-2 {
  width: 180px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--font-color1);
  border: none;
}

#footer-section {
  background-color: var(--primary-color);
}
#hours-section {
  margin-top: -20px;
  background-color: var(--primary-color);
}
.kbb-logo-d {
  width: 200px;
}

.contact-us-h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--font-color1);
  margin-bottom: 20px;
  margin-left: -220px;
}

.offer-section-h {
  font-size: 50px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.offer-button {
  width: 180px;
  height: 40px;
  font-size: 18px;
  font-weight: 600px;
  background-color: #fff;
  border: none;
  color: var(--secondary-color);
}
.footer-text-box {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.footer-p1 {
  font-weight: 700;
  color: var(--font-color1);
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
.footer-p2 {
  color: var(--font-color1);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 50px;
  font-size: 20px;
}

.offer-box-h1 {
  color: var(--font-color1);
  margin-bottom: 0;
}
.contact-p {
  font-size: 20px;
  color: var(--font-color1);
  margin-left: -220px;
  margin-bottom: 0;
  margin-top: 0;
}
.offer-box-p {
  color: var(--font-color1);
  margin-bottom: 20px;
  margin-top: 0;
}

.ico-adaptive {
  max-width: 100%;
  height: auto;
}

.ico-mobile {
  display: none;
}

.hours-h {
  margin-left: -220px;
  margin-bottom: 0;
  color: var(--font-color1);
}

.hours-p {
  margin-left: -220px;
  margin-top: 0;
  color: var(--font-color1);
}
#footer-m {
  display: none;
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .hero-img-d {
    max-width: 1160px;
  }
  .hero-h1 {
    font-size: 35px;
    width: 400px;
    margin-left: -535px;
  }
  .hero-box {
    margin-left: 0px;
  }

  .hero-p {
    margin-left: -535px;
  }

  .hero-box {
    margin-left: -335px;
  }

  .store-logo {
    margin-left: -180px;
  }
  .hours-box {
    margin-left: 360px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .hero-img-d {
    max-width: 920px;
    margin-left: 0px;
  }
  #hero-section {
    height: 22em;
  }
  .hero-h1 {
    font-size: 28px;
    width: 400px;
    margin-left: -500px;
    margin-right: 440px;
  }
  .hero-box {
    margin-left: -0px;
  }

  .hero-p {
    margin-left: -500px;
  }

  .hero-box {
    margin-left: 120px;
  }
  .store-logo {
    margin-left: -90px;
  }
  .hours-box {
    margin-left: 120px;
  }
  .offer-card {
    width: 300px;
    margin-left: 45px;
    margin-right: 50px;
  }
  .card-box {
    margin-right: 20px;
  }
  .contact-us-h2 {
    margin-left: -160px;
  }

  .contact-p {
    margin-left: -160px;
  }
  .hours-h {
    margin-left: -160px;
  }
  .hours-p {
    margin-left: -160px;
  }
}

@media only screen and (min-width: 1076px) and (max-width: 1280px) {
  .hero-img-d {
    width: 900px;
    margin-left: 10px;
  }

  #hero-section {
    height: 22em;
  }
  .hero-box {
    margin-left: 0;
  }
  .hero-h1 {
    font-size: 24px;
    line-height: 100%;
    margin-right: 0;
  }

  .store-logo {
    margin-left: 0px;
  }
  .hours-box {
    margin-left: 10px;
  }
  .card-img {
    width: 280px;
  }
  .offer-card {
    margin-left: 25px;
  }
  .contact-us-h2 {
    font-size: 28px;
    margin-left: -60px;
  }
  .contact-p {
    margin-left: -60px;
  }

  .hours-h {
    margin-left: -60px;
  }

  .hours-p {
    margin-left: -60px;
  }

  .kbb-logo-d {
    width: 140px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
  .store-logo {
    margin-left: 0px;
  }

  #hero-section {
    background-image: url(Hero-T.png);
    height: 20em;
  }

  .hero-box {
    margin-left: 0;
    margin-right: 160px;
  }

  .hero-h1 {
    margin-left: 80px;
    font-size: 20px;
  }
  .hero-p {
    margin-left: 80px;
    font-size: 10px;
  }

  .card-img {
    width: 200px;
  }

  .offer-card {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }

  .contact-us-h2 {
    margin-left: 40px;
  }

  .contact-p {
    margin-left: 45px;
  }
  .hours-box {
    margin-top: 15px;
    margin-left: 0px;
  }
  .footer-p1 {
    margin-left: 10px;
  }

  .footer-p2 {
    margin-left: 10px;
  }
  .kbb-logo-d {
    width: 160px;
    margin-right: 40px;
  }
  .hero-h1 {
    margin-left: -280px;
    margin-right: 200px;
    font-size: 22px;
  }

  .hero-p {
    margin-left: -280px;
    font-size: 16px;
  }

  .hours-h {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  #hero-section-m {
    display: block;
  }

  .kbb-logo-d {
    display: none;
  }

  #hero-section {
    display: none;
  }
  .hero-img-m {
    display: block;
    width: 100vw;
  }
  .hero-box-m {
    flex-direction: column;
    width: 100vw;
  }
  .store-logo {
    width: 150px;
    margin-top: 20px;
    margin-left: -170px;
  }

  .offer-card {
    width: 280px;
  }

  .hero-box {
    margin-left: -95px;
  }
  .hero-m {
    width: 100vw;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .hero-p {
    font-size: 12px;
    margin-left: 110px;
  }
  .hero-p2 {
    margin-left: -105px;
  }

  .hero-tel {
    margin-top: -10px;
    margin-left: -105px;
    font-size: 16px;
  }

  .hero-h1 {
    margin-top: 20px;
    margin-left: 110px;
    font-size: 26px;
  }

  .card-box {
    flex-direction: column;
  }

  .card-img {
    width: 180px;
  }
  .offer-button {
    width: 160px;
    font-size: 17px;
    font-weight: 600;
  }

  .offer-box-h1 {
    font-size: 22px;
    max-width: 225px;
    text-align: center;
  }
  .offer-section-h {
    font-size: 28px;
  }

  #offer-box {
    margin-top: -5px;
  }
  #offer-section {
    flex-direction: column;
  }
  .offer-card {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-box {
    flex-direction: column;
  }

  .nav-box-2 {
    flex-direction: column;
  }
  .ico-desktop {
    display: none;
  }

  .ico-mobile {
    display: block;
  }

  .contact-us-h2 {
    font-size: 22px;
    margin-left: 10px;
  }
  .footer-box {
    flex-direction: column;
  }
  .footer-p2 {
    margin-left: 0;
  }
  .contact-p {
    font-size: 18px;
    margin-left: 10px;
  }
  #footer-section {
    display: none;
  }

  #footer-m {
    background-color: var(--primary-color);
    display: block;
  }
  .footer-text-box {
    margin: 0;
  }
  .footer-p1 {
    margin-top: 10px;
    margin-left: 10px;
  }
  .footer-p2 {
    margin-left: 10px;
    max-width: 300px;
    font-size: 18px;
  }

  .hours-box {
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom: 50px;
    margin-left: 0;
  }

  .hours-h {
    margin-left: 10px;
    margin-top: 20px;
  }

  .hours-p {
    margin-left: 10px;
  }
  .footer-m-box {
    display: flex;
  }

  .footer-p1 {
    font-size: 16px;
  }

  .footer-p2 {
    font-size: 14px;
  }

  .address-m {
    margin-top: 20px;
  }

  .contact-p {
    font-size: 16px;
  }

  .hours-h {
    font-size: 18px;
  }

  .hours-p {
    font-size: 16px;
  }
  .hours-box {
    margin-top: 0;
    margin-bottom: 0;
  }
}
